<% provide(:title, "Kontakt") %>

<section class="spa-area white-text-style spa-area-15">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <div class="widget spa-widget-contact-form">
          <div class="widget-header style-12">
            <span class="sub-title style-03">Wyślij wiadomość </span>
            <h3 class="widget-title style-09">Formularz kontaktowy</h3>
          </div>
          <div class="widget-content">
            <div class="spa-contact-form">
              <%= form_for(:post, :url => url_for(:action => 'mail')) do |f| %>
                  <p>
                    <%= f.text_field :name, :placeholder => 'np. Imie i Nazwisko', :required => true %>
                  </p>
                  <p>
                    <%= f.email_field :email, :placeholder => 'np. email', :required => true %>
                  </p>
                  <p>
                    <%= f.text_area :content, :placeholder => 'np. tresc', :required => true %>
                  </p>

                  <div class="spa-submit">
                    <p>
                      <%= f.submit "Wyślij wiadomość" %>
                    </p>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
