<% provide(:title, "Strona główna") %>

<div id="content">
  <div class="rotate" style="display:none;">
    <%= image_tag('home1.jpg', class: 'main-image') %>
    <%= image_tag('home2.jpg', class: 'main-image') %>
    <%= image_tag('home3.jpg', class: 'main-image') %>
    <%= image_tag('home4.jpg', class: 'main-image') %>
  </div>
</div>

<section class="spa-area spa-area-01">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-list-product-intro">
          <div class="widget-header">
            <span class="sub-title">WizzART</span>
            <h3 class="widget-title">Przykałdowe projekty</h3>
          </div>
          <div class="widget-content">
            <div class="spa-wrap-owl">
              <div class="owl-carousel">
                <%= render partial: 'project', collection: @projects %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
