<% provide(:title, "Projekty i wizualizacje") %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-portfolio">
          <div class="widget-header style-08">
            <span class="sub-title style-03">WizzART </span>
            <h3 class="widget-title style-05">Wizualizacje i projekty </h3>
          </div>
          <div class="widget-content">
            <p>Szanowny Kliencie.

              Zajmuję się opracowywaniem projektów wnętrz, architekturą krajobrazu oraz wizualizacją różnorodnych
              produktów. Mogę również przygotować animacje.
              Dzięki foto realistycznej wizualizacji szybko zobaczysz jak mogą wyglądać Twoje zamierzenia, pragnienia,
              pomysły. Zaoszczędzisz czas i pieniądze.
              Realizując zlecenia mam na uwadze zarówno indywidualne potrzeby i wymagania klienta , jak i najnowsze
              światowe trendy w dziedzinie projektowania .
              Szczegóły oferty uzgadniamy z klientem. </p>

            <ul>Oferta wizualizacji:
              <li>- wizualizacje wnętrz</li>
              <li>- wizualizacje budynków</li>
              <li>- wizualizacje przedmiotów</li>
              <li>- animacje</li>
            </ul>
            <ul>Oferta projektowa:
              <li>- projekty wnętrz</li>
              <li>- projekty krajobrazu</li>
            </ul>
            <ol class="filters-options clearfix">
              <li class="active" data-val=<%= @category %>>Aktywna kategoria <%= @category %></li>
              <li data-val="outdor_commercial"><%= link_to "Zewnetrzne Komercyjne", projects_path(:category => "outdor_commercial"), :onclick => 'alert("Please no!")' %>
              <li data-val="outdor_private">outdor_private</li>
              <li data-val="indor_commercial">indor_commercial</li>
              <li data-val="indor_private">indor_private</li>
            </ol>
            <ul class="row spa-masonry">
              <% @projects.each do |p| %>
                  <% if @category == p.category %>
                      <li class="spa-item col-md-3 col-sm-6 col-xs-6" data-val=<%= p.category %>>
                        <div class="rotate" style="display:none;">
                          <% p.resources.each do |r| %>
                              <%= link_to((image_tag r.image.url), project_path(p)) %>
                          <% end %>
                        </div>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




