<% provide(:title, "Projekty : realizacje") %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-portfolio">
          <div class="widget-header style-08">
            <span class="sub-title style-03">WizzART </span>
            <h3 class="widget-title style-05">Realizacje projektów </h3>
          </div>
          <div class="widget-content">

            <ol class="filters-options clearfix">
              <li class="active" data-val="*">Wszystkie</li>
              <% @projects.each do |p| %>
                <li data-val=<%= p.title %>><%= p.title %></li>
              <% end %>
            </ol>
            <ul class="row spa-masonry">
              <%= hidden_field_tag :project_ids, @projects.map(&:id) %>
              <%= render partial: 'photoswipe' %>
              <%= render partial: 'project', collection: @projects %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
