<section class="spa-area spa-area-no-space" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="widget spa-widget-owl-slide-home1">
    <div class="owl-carousel spa-owl-slider">
      <article class="entry-item">
        <div class="entry-thumb">
          <%= image_tag ('3.jpg') %>
        </div>
        <div class="entry-content">
          <center>
            <h2>Log in</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br/>
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :password %><br/>
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div class="actions">
                  <%= f.submit "Log in" %>
                </div>
                <%= render "devise/shared/links" %>
            <% end %>
          </center>

          </p>
        </div>
      </article>
    </div>
  </div>
</section>


