<div class="spa-wrap-gototop"><span class="spa-gototop"><i class="fa fa-long-arrow-up"></i></span>
</div>
<div class="bottom-sidebar style-01">
  <div class="container">
    <p></p>
    <div class="row white-text-style mh-populor">
      <div class="col-sm-3 col-sm-offset-2" style="height: 200px !important;">
        <div class="widget widget_nav_menu">
          <h3 class="widget-title style-02">
            Media społecznościowe
          </h3>
          <div class="widget-content">
            <ul class="menu">
              <li>
                <%= link_to 'Facebook', 'https://www.facebook.com/Wizzart-Architektura-1191225920953207/?skip_nax_wizard=true', class: 'fa fa-angle-double-right' %>
              </li>
              <li>
                <%= link_to 'Instagram', 'https://www.instagram.com/wizzart_architektura/', class: 'fa fa-angle-double-right' %>
              </li>
              <li>
                <%= link_to 'LinkedIn', 'https://pl.linkedin.com/in/aleksander-śliwiński-66324486/en', class: 'fa fa-angle-double-right' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-2" style="height: 200px !important;">
        <div class="widget widget_nav_menu">
          <h3 class="widget-title style-02">
            Kontakt
          </h3>
          <div class="widget-content">
            <ul class="menu">
              <li>
                <%= link_to "<i class='fa fa-phone'></i>Telefon: 504-285-395".html_safe, 'tel:504285395' %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-envelope'></i>Email: wizzart24@gmail.com".html_safe, 'mailto:wizzart24@gmail.com' %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-map-marker'></i>31-147 Kraków, ul. Długa 63/8".html_safe, 'https://goo.gl/maps/WiDtru1PJiA2', target: '_blank' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="spa-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="spa-copyright">
          Copyright © <%= Time.now.year %> Made by <%= mail_to 'vladimirkabar@gmail.com', 'Vladimir Kabar', subject: 'Zapytanie o stronę' %>
        </span>
      </div>
    </div>
  </div>
</footer>
