<header class="spa-header style-01">
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <%= link_to image_tag('logo.jpg', size: '60x60', style: 'margin-top: -22px;'), rails_admin_path %>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-9 spa-algr" style="height: 70px;">
          <nav class="spa-menu-top">
            <ul>
              <li>
                <%= link_to "Strona główna", root_path %>

              <li class="mdc-mega">
                <a href="#">Projekty</a>
                <div class="mdc-mega-menu sf-mega">
                  <span class="spa-line-arow"></span>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="widget widget_nav_menu">
                        <h3 class="widget-title style-02">
                          Realizacje zewnętrzne
                        </h3>
                        <div class="widget-content">
                          <%= link_to "Komercyjne", projects_path(:category => "outdor_commercial"), :class => "fa fa-angle-double-right" %>
                          <%= link_to "Prywatne", projects_path(:category => "outdor_private"), :class => "fa fa-angle-double-right"%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="widget widget_nav_menu">
                        <h3 class="widget-title style-02">
                          Projekty wewnętrzne
                        </h3>
                        <div class="widget-content">
                          <%= link_to "Komercyjne", projects_path(:category => "indor_commercial"), :class => "fa fa-angle-double-right"%>
                          <%= link_to "Prywatne", projects_path(:category => "indor_private"), :class => "fa fa-angle-double-right"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              </li>
              <li>
                <%= link_to "Oferta", offer_path %>
              </li>
              <li>
                <%= link_to "Kontakt", contact_path %>
              </li>
              <li>
                <% if user_signed_in? %>
                    <%= link_to("Wyloguj", destroy_user_session_path, :method => :delete) %>
                <% end %>
              </li>
            </ul>
          </nav>
          <div class="spa-search-and-mega">
            <i class="fa fa-align-justify spa-menu-responsive-header"></i>
            <i class="fa fa-search spa-search-form-header"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
