<header class="spa-header style-01">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div style="height: 20px;">
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <%= link_to image_tag('logo.jpg', size: '50x50'), root_path %>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-9 spa-algr" style="height: 100px;">
          <nav class="spa-menu-top">
            <ul>
              <li>
                <%= link_to "Projekty", projects_path %>
              </li>
              <li>
                <%= link_to "Wizualizacje", visualizations_path %>
              </li>
              <li>
                <%= link_to "Realizacje", realizations_path %>
              </li>
              <li>
                <%= link_to "Oferta", offer_path %>
              </li>
              <li>
                <%= link_to "Kontakt", kontakt_path %>
              </li>
              <li>
                <% if user_signed_in? %>
                    <%= link_to("Wyloguj", destroy_user_session_path, :method => :delete) %>
                <% end %>
              </li>
            </ul>
          </nav>
          <div class="spa-search-and-mega">
            <i class="fa fa-align-justify spa-menu-responsive-header"></i>
            <i class="fa fa-search spa-search-form-header"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
