<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application.js', media: 'all' %>
  <%= javascript_include_tag 'lib/jquery.browser', media: 'all' %>
  <%= javascript_include_tag 'saprol/imagesloaded.pkgd.min', media: 'all' %>
  <%= javascript_include_tag 'saprol/custom', media: 'all' %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true', media: 'all' %>
  <%= javascript_include_tag 'lib/gmaps', media: 'all' %>
  <%= javascript_include_tag 'lib/cycle', media: 'all' %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--to wyzej do usuniecia jak poprawisz czemu nie dziala font-awesome ze styleshet-->

  <%= csrf_meta_tags %>
</head>
<body>
<div class="main-container">
  <%= render 'layouts/header' %>
  <div class="main-content">
    <% if notice %>
        <p class="alert alert-success fade-out"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger fade-out"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>

